GameStore/GameStore.BLL/Service References/BankService/BankService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BankService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52861/BankService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52861/BankService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52861/BankService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BankService.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBankService_PayByVisa_InputMessage">
    <wsdl:part name="parameters" element="tns:PayByVisa" />
  </wsdl:message>
  <wsdl:message name="IBankService_PayByVisa_OutputMessage">
    <wsdl:part name="parameters" element="tns:PayByVisaResponse" />
  </wsdl:message>
  <wsdl:message name="IBankService_PayByMastercard_InputMessage">
    <wsdl:part name="parameters" element="tns:PayByMastercard" />
  </wsdl:message>
  <wsdl:message name="IBankService_PayByMastercard_OutputMessage">
    <wsdl:part name="parameters" element="tns:PayByMastercardResponse" />
  </wsdl:message>
  <wsdl:message name="IBankService_Confirm_InputMessage">
    <wsdl:part name="parameters" element="tns:Confirm" />
  </wsdl:message>
  <wsdl:message name="IBankService_Confirm_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmResponse" />
  </wsdl:message>
  <wsdl:portType name="IBankService">
    <wsdl:operation name="PayByVisa">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankService/PayByVisa" message="tns:IBankService_PayByVisa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankService/PayByVisaResponse" message="tns:IBankService_PayByVisa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PayByMastercard">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankService/PayByMastercard" message="tns:IBankService_PayByMastercard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankService/PayByMastercardResponse" message="tns:IBankService_PayByMastercard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Confirm">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankService/Confirm" message="tns:IBankService_Confirm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankService/ConfirmResponse" message="tns:IBankService_Confirm_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBankService" type="tns:IBankService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PayByVisa">
      <soap:operation soapAction="http://tempuri.org/IBankService/PayByVisa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PayByMastercard">
      <soap:operation soapAction="http://tempuri.org/IBankService/PayByMastercard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Confirm">
      <soap:operation soapAction="http://tempuri.org/IBankService/Confirm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BankService">
    <wsdl:port name="BasicHttpBinding_IBankService" binding="tns:BasicHttpBinding_IBankService">
      <soap:address location="http://localhost:52861/BankService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>