GameStore/GameStore.BLL/Service References/BankService/BankService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BankService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BankService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PaymentInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cvv2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpirationMonth" type="xs:int" />
      <xs:element minOccurs="0" name="ExpirationYear" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Owner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sum" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaymentInfo" nillable="true" type="tns:PaymentInfo" />
  <xs:simpleType name="PaymentResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success" />
      <xs:enumeration value="Fail" />
      <xs:enumeration value="NotEnoughMoney" />
      <xs:enumeration value="CodeConfirmRequired" />
      <xs:enumeration value="CardDoesntExist" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PaymentResult" nillable="true" type="tns:PaymentResult" />
</xs:schema>